.App {
  text-align: center;
}

.Bold{
  font-weight: 700;
}
.inline{
  display: inline;
}
.Input{
  margin: 10px;
}
.microphone button{
  margin: 5px;
  background-color: cadetblue;
  padding: 3px;
  border-radius: 5px;
}
.scanner{
  margin-top: 30px;
  color:blue;
}